*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box_login{
	width: 500px;
	height: 500px;
	background-color: #6d4bfc;
	border: 0;
	border-radius: 0px 0px 10px 10px;
}
