*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Arial';
	padding: 0px 15px;
}
.box_login{
	width: 500px;
	height: 500px;
	background: #6d4bfc;
	border: 0;
	border-radius: 10px;
}
.box_login .capa{
	height: 200px;
	background: url(../img/capa1.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
h1{
	font-size: 24px;
	color: #fff;
	text-align: left;
	margin: 15px 0px 20px 15px;
	font-weight: 500;
}
form input{
	margin: 0px 20px;
	width: calc(100% - 40px);
	padding: 10px 15px;
	border: none;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 15px;
}
form .btn-login{
	margin: 0px 20px;
	width: calc(100% - 40px);
	background: #3ceb88;
	color: #fff;
	border: none;
	border-radius: 10px;
	padding: 10px 15px;
	margin-bottom: 15px;
}
.msg_error{
	color: #ff6d6d;
	display: flex;
	justify-content: center;
}
@media (min-width:480px) {
	.box_login .capa{
		height: 230px;
		background: url(../img/capa2.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}	
}