*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box_login{
	width: 500px;
	height: 500px;
	background: #6d4bfc;
	border: 0;
	border-radius: 10px;
}
.capa{
	height: 230px;
	background: url(../img/capa2.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
